@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    background-image: url("griseImage.png");
}
h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}
h1,h1 + p{
    text-align: center;
}
img{
   width:1px;
   height:80px;
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px blue;

}
.myimg{
    width: 8%;
    
}
h2{
    color: #6E4A46;
}
section{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2px;
}
#liseret,#contenu{
    display: inline-block;
    vertical-align: top;
}
#liseret
{   
    width: 10%;
    margin-right: 3%;
    height: 500px;
    background-image: url('imgn.png');
    border-radius: 10px;
}
#contenu{
    width: 85%;
}