/* Feuille de style */

body {
    width: 80%;
    border-left: 2px solid black;
}

h1 {
    margin: 0px;
}

.container {
    width: 500px;
    border-radius: .5em;
    padding: 10px;
}

.exer {
    display: inline-block;
    vertical-align: middle;
}

.navig ul {
    list-style-type: none;
    vertical-align: top;
}

p {
    width: 80%;
    margin-left: 80px;
    padding: 8px 10px;
    border: 10px 20px;
}