    /* Définition des polices personnalisées */
    
    @font-face {
        font-family: 'BallparkWeiner';
        src: url('polices/ballpark.eot');
        src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'), url('polices/ballpark.woff') format('woff'), url('polices/ballpark.ttf') format('truetype'), url('polices/ballpark.svg#BallparkWeiner') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Dayrom';
        src: url('polices/dayrom.eot');
        src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'), url('polices/dayrom.woff') format('woff'), url('polices/dayrom.ttf') format('truetype'), url('polices/dayrom.svg#Dayrom') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: #181818;
    }
    
    #bloc_page {
        border: 2px solid black;
        width: 710px;
        margin: auto;
    }
    
    section h1,
    footer h1,
    nav a {
        font-family: Dayron, serif;
        font-weight: normal;
        text-transform: uppercase;
    }
    /* Header */
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border: 3px solid rgb(47, 196, 255);
    }
    
    #titre_principal {
        display: flex;
        flex-direction: column;
    }
    
    #logo {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    
    #logo img {
        width: 59px;
        height: 60px;
    }
    
    header h1 {
        font-family: 'BallparkWeiner', serif;
        font-size: 2.5em;
        font-weight: normal;
        margin: 0 0 0 10px;
    }
    
    header h2 {
        font-family: Dayrom, serif;
        font-size: 1.1em;
        margin-top: 0px;
        font-weight: normal;
    }
    /* Navigation */
    
    .navigation {
        border: 2px solid green;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
    }
    
    nav li {
        margin-right: 15px;
    }
    
    nav a {
        font-size: 1.3em;
        color: #181818;
        padding-bottom: 3px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: #760001;
        border-bottom: 3px solid #760001;
    }
    /* banniere */
    
    #banniere_image {
        height: 200px;
        border-radius: 5px;
        background: url("sanfrancisco.png") 900px, no-repeat;
        position: relative;
        box-shadow: 0px 4px 4px #1c1a19;
        margin-bottom: 25px;
    }
    
    #banniere_description {
        position: absolute;
        bottom: 0;
        border-radius: 0px 0px 5px 5px;
        width: 99.5%;
        height: 33px;
        padding-top: 15px;
        padding-left: 4px;
        background-color: rgba(15, 2, 2, 0.9);
        color: white;
        font-size: 0.8em;
    }
    
    .bouton_rouge {
        height: 25px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        background: url('fond_degraderouge.png') repeat-x;
        border: 1px solid #760001;
        border-radius: 5px;
        font-size: 1.2em;
        text-align: center;
        padding: 3px 8px 0px 8px;
        color: white;
        text-decoration: none;
    }
    
    .bouton_rouge img {
        border: 0;
    }
    /* Corps */
    
    section {
        display: flex;
        margin-bottom: 20px;
        border: 3px solid greenyellow;
    }
    
    article,
    aside {
        text-align: center;
    }
    
    article {
        margin-right: 20px;
        flex: 3px;
    }
    
    .ico_categorie {
        vertical-align: middle;
        margin-right: 8px;
    }
    
    article p {
        font-size: 0.8em;
    }
    
    aside {
        width: 1000px;
        height: 1100px;
        margin: 12px solid red;
        flex: 1.2;
        position: relative;
        background-color: #706b64;
        box-shadow: 0px 2px 15px #1c1a19;
        border-radius: 5px;
        padding: 10px;
        color: white;
        font-size: 0.9em;
        border: 3px solid rgb(109, 47, 255);
    }
    
    #fleche_bulle {
        position: absolute;
        top: 100px;
        left: -12px;
    }
    
    #photo_zozor {
        text-align: center;
    }
    
    #photo_zozor img {
        border: 1px solid #181818;
    }
    
    aside img {
        margin-right: 5px;
    }
    /* Footer */
    
    footer {
        display: flex;
        padding-top: 30px;
        border: 2px dotted #000000;
    }
    
    footer p,
    footer ul {
        font-size: 0.8em;
    }
    
    footer h1 {
        display: inline-block;
        font-size: 1.1em;
    }
    
    #tweet {
        width: 28%;
        margin: 2px 4px 0 6px;
        border: 2px solid #ff00aa;
    }
    
    #mes_photos {
        width: 28%;
        margin: 5px 3px 0 4px;
        border: 2px solid #ffa500;
    }
    
    #mes_amis {
        width: 28%;
        margin: 0px 0px 0 6px;
        border: 2px solid #ff4500;
    }
    
    #tweet,
    #mes_photos,
    #mes_amis {
        display: inline;
    }
    
    #mes_photos img {
        border: 1px solid #181818;
        margin-right: 2px;
        float: 40px right;
        border: 2px solid #b4745d;
    }
    
    .photo1 {
        width: 10%;
    }
    
    .photo2 {
        width: 10%;
    }
    
    .photo3 {
        width: 10%;
    }
    
    .photo4 {
        width: 10%;
    }
    
    #listes_amis {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    
    #mes_amis ul {
        display: flex;
        padding-left: 2px;
    }
    
    ul.a {
        list-style-type: circle;
    }
    
    ul.b {
        list-style-type: square;
    }
    
    #mes_amis a {
        text-decoration: none;
        color: #760001;
    }
    
    .photos {
        margin: 0 32px;
    }