h1 {
    color: red;
    font-size: 3em;
}

.center {
    /* width: 200px;
    height: 150px; */
    position: fixed;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

img {
    width: 25%;
    /* height: 100px; */
    padding-left: 200px;
    background-image: rgb(123, 190, 14);
}

figcaption {
    clear: both;
    padding-left: 250px;
}

.d1 {
    margin: 10px;
    padding-left: 25px;
    border-radius: 25px;
}

.d2 {
    margin: 20px;
    padding: 25px;
    border-bottom: 25px;
}

ul {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    box-shadow: 10px 5px 5px black;
}