p{  
    color:chartreuse;
    height: 20px;
    font-family: 'Times New Roman', Times, serif;
}
h2{  color:blue;}
@media screen and (max-width:1024px)
  {
    p{  color: orangered;
      height: 40px;
      background-color: navy;
      font-size: 1.3em;
      
    }
  }